#ora_box {
    padding: 0;
    width: 170px;
    height: auto;
    margin: 0 0 25px;
    float: left;
    background: #fff;
    border: 1px solid #000000;
    border-radius: 5px;
    display: block;
}